body{
  background-color: #0F172A;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 10px 0;
    color: white;
  }
  .racing-graph {
    
    display: flex;
    align-items: center;
  }
  .header {
    margin: auto;
    padding: 30px;
  }
  .rank {
    width: 80px;
  }
  .bar {  
    top: 0;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    animation-name: slide-in;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

 
.year {
  
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 60px;
}

  

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-10%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  